// @include m.before_circle;


@mixin h1 ($color: var(--body-text)) {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    color: $color;
}

@mixin h2 ($font-weight: var(--fw-semibold), $line-height: var(--lh-normal), $color: var(--body-text)) {
    font-weight: $font-weight;
    font-size: var(--fs-h2);
    line-height: $line-height;
    color: $color;
}

@mixin text {
    font-size: var(--fs-text);
    line-height: var(--lh-text);
    color: var(--body-text);
}

@mixin descriptor ($color: var(--gray)) {
    font-size: var(--fs-descriptor);
    line-height: var(--lh-descriptor);
    color: $color;
}

@mixin _button-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 40px;
    border: 2px solid var(--border-color);
    border-radius: var(--radius-button);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-button);
    line-height: var(--lh-button);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        background: var(--brand-color-hover);
        border-color: var(--brand-color-hover);
    }
}

@mixin button-filled {
    @include _button-base;
    background: var(--brand-color);
    color: var(--white);
}


@mixin button-outline {
    @include _button-base;
    background: transparent;
    color: var(--brand-color);

    &:hover {
        background: var(--border-color);
        color: var(--white);
    }
}

@mixin date-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    background: var(--light-gray);
    border-radius: var(--radius-date);
    font-size: var(--fs-date);
    line-height: var(--lh-normal);
    color: var(--gray);
}

@mixin pagination-item ($active: false) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 54px;
    padding: 16px 23px;
    border: 2px solid var(--brand-color);
    border-radius: var(--radius-button);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-button);
    line-height: var(--lh-normal);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);

    @if $active {
        background: var(--brand-color);
        color: var(--white);
    }

    @else {
        background: transparent;
        color: var(--brand-color);

        &:hover {
            background: var(--border-color);
            color: var(--white);
        }
    }
}

@mixin divider {
    border: none;
    border-top: 1px solid var(--gray);
}