@use 'base/mixins' as m;


.promo {

    &__link {
        display: block;
        position: relative;
        min-height: 646px;
        z-index: 0;
    }

    &__picture {
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &__title {
        @include m.h1(var(--white));
        margin-bottom: 30px;
    }

    &__description {
        @include m.h2(400, var(--lh-text), var(--white));
    }
    .container, &__container {
        padding-top: 218px;
        padding-left: 15px;
    }

}