@use 'libs/reboot';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

@use 'blocks/header';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}


.container {
    width: 1520px;
    margin: 0 auto;
    padding: 0 20px;
}

// Прижатый футер начало
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

// Прижатый футер конец

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}